# Ignore everything
*

# But not these files...
!README.md
!public/
!eslintrc.cjs
!index.html
!package-lock.json
!package.json
!postcss.config.js
!tailwind.config.ks
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!src/

src/*
!src/**